.hidden {
  display: none;
}

#terminal {
  background-color: #000;
  color: #0f0;
  position: fixed;
  width: 400px;
  height: 200px;
  top: auto;
  right: 20px;
  bottom: 20px;
}

#error-message {
  color: red;
  border: 1px solid red;
  padding: 10px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.cursor {
  animation: blink 1s step-end infinite;
}
