.hidden {
  display: none;
}

#terminal {
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 300px;
  height: 150px;
  top: auto;
  right: 10px;
  bottom: 10px;
}

#error-message {
  color: red;
  border: 1px solid red;
  padding: 10px;
}
